/* Pico overrides */
:root {
  --pico-transition: 200ms ease-out;
}

[data-theme="light"] {
  /* Must include website namespace */
  --external-link-icon: url("/fancy-text/external-link-light.svg");
}
[data-theme="dark"] {
  /* Must include website namespace */
  --external-link-icon: url("/fancy-text/external-link-dark.svg");
}

/* Externa link icon */
a[href*="//"]
{
  padding-right: calc(14px + 2px);
  background-size: 14px;
  background-image: var(--external-link-icon);
  background-repeat: no-repeat;
  background-position: center right;
}
