---
import Layout from "@/layouts/Layout.astro";
import Converter from "@/components/Converter.svelte";
---

<Layout title="Fancy Text" description="Fancy Text conversion">
  <main class="container">
    <h1>Fancy Text</h1>
    <p>A converter from boring normal text to fancy Unicode text.</p>
    <p>
      This uses various Unicode Blocks such as the mathematical symbols. For more information, go check out <a
        href="https://unicode-explorer.com/">Unicode Explorer</a
      >, more specifically most of these come from the <a href="https://unicode-explorer.com/b/1D400"
        >Mathematical Alphanumeric Symbols</a
      > section. Some symbols like "e" are marked as "reserved" in the unicode block when they already have a symbol from
      elsewhere.
    </p>
    <Converter client:load />
  </main>
</Layout>
